<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alaga - Your Best Medi-Guide</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon"/>
    {% include 'includes/sidebar_styles.html' %}
</head>
<body class="min-h-screen bg-gray-50 font-[Inter]">
  <div class="flex h-screen relative">
      <!-- Overlay -->
      <div id="overlay" class="fixed inset-0 bg-black bg-opacity-50 z-20 hidden md:hidden" onclick="toggleSidebar()"></div>
    

      <!-- Main Content -->
      <div class="flex-1 flex flex-col overflow-hidden">
        <!-- Header modified -->
        <header class="bg-white py-3 px-6 shadow-sm flex items-center justify-between">
            <div class="flex items-center">
            <button onclick="toggleSidebar()" class="mr-4 md:hidden">
                <i class="fa-solid fa-bars fa-lg" style="color: #8491d3;"></i>
            </button>
            <img src="{{ url_for('static', filename='images/alaga_logo_trans.png') }}" alt="Alaga Logo" class="h-8 w-8 mr-2">
            <h2 class="text-3xl font-bold text-[#BC6FB7]">Alaga</h2>
            </div>
            <!--It will go back to the previous page-->
            <div class="flex items-center space-x-4">
                <a href="#" onclick="history.back()" class="px-4 py-2 text-sm text-gray-500 hover:text-white hover:bg-[#D998D5] rounded-md transition duration-200 font-medium">
                    Back to Main   
                  </a>                  
            </div>    
        </header>
        
  
        <main class="flex-1 overflow-auto p-6">